<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Node.Js Blog Application</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="text-red-500">hello</div>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
