<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Node.Js Blog Application</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> <%= JSON.stringify(user) %> <%-
    include("./partials/scripts.ejs") %>
  </body>
</html>
